<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <title>edit: <%= title %> &middot; caer.me gallery</title>

    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/gallery.css">
    <link href='//fonts.googleapis.com/css?family=PT+Serif:400,700,400italic|Open+Sans:300italic,300' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div id="main" class="gallery">
    <a href="/">&larr; Gallery index</a>

    <h1><%= title %></h1>

    <form action="/gallery/<%= title %>/update" method="POST">
      <ul class="thumbnails">
        <% for ( var i = 0; i < images.length; i += 1 ) { %>
        <% var f = images[i]; %>
        <li class="edit">
          <input type="checkbox" id="delete-<%= f.filename %>"
            name="<%= f.filename %>[deleted]">
          <label for="delete-<%= f.filename %>"></label>

          <img src="<%- f.thumb_url %>">

          <input type="text" name="<%= f.filename %>[title]" value="<%= f.title %>">
        </li>
        <% } %>
      </ul>

      <input type="submit" value="Save">
    </form>

    </div>

    <script>
      QuickSlideConfig = {
        use_dimmer: true,
        show_caption: true,
      };
    </script>
    <script src="/js/lib/quickslide-min.js"></script>
  </body>
</html>


