<% // super-simple HTML gallery, for search engines %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> &middot; caer.me gallery</title>
    <link rel="stylesheet" href="/css/gallery.css">
  </head>

  <body class="<%= body_class %>">
    <a href="/galleries">&larr; Gallery index</a>

    <h1><%= title %></h1>

    <ul class="thumbnails">
      <% for ( var i = 0; i < files.length; i += 1 ) { %>
      <% var f = files[i]; %>
      <li><a href="<%- "/gallery_image/" + f.filename %>.jpg" rel="quickslide"
        title="<%- f.title %>"><img src="<%-
        f.thumb_url %>"><%- f.title %></a></li>
      <% } %>
    </ul>

    <script>
      QuickSlideConfig = {
        use_dimmer: true,
        show_caption: true,
      };
    </script>
    <script src="/js/lib/quickslide-min.js"></script>
  </body>
</html>


